<!DOCTYPE html>
<html>

<head>

    <%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
      <!-- Titulo del broswer-->
      <title>Sheets Central</title>
      <meta property="og:title" content="Sheets Central"> <!-- Esto despues hacerlo cambiado para cada proyecto -->

</head>

<!-- <body class="main-body squared-body"> -->
<body class="main-body">
    <section class="" id="" style="background-color: #f5fbf7;padding: 30px 0;">
      <div class="full-page-item container">
        <div class="main-division2">
          <div class="division-text-content2">
            <div class="division-left-content-top">
              <h1 class="main-title-2"><%= lang_object.text.index_main_title %>
              </h1>
            </div>
            <div class="division-left-content-bottom">
              <h3 class="explain-text"><%= lang_object.text.index_main_subtitle %></h3>
              
              <% if (connection_id && user_connected.connection == 'tiendanube' && user_connected.active == 'true' ) { %>
                <div class="login-button">
                  <button type="button" class="btn btn-outline-secondary">
                    <a class="black-button-a" href="/tiendanube/config" >
                      <div class="login-button-text">
                        <img class="login-button-logo" src="/images/icons/configuration.png" alt="">
                        <p class="login-button-p"><%= lang_object.text.config_button %></p>
                      </div>
                    </a>
                  </button>
                </div> 
              <%} else { %>
                <%- include("./partials/buttons/tn-button.ejs") %>
                <%} %>

              <div class="login-button">
                <button type="button" class="btn btn-outline-secondary">

                  <a class="black-button-a"
                    href="/tiendanube/documentation"
                    target="_blank">
                    <div class="login-button-text">
                      <img class="login-button-logo" src="/images/icons/document.png" alt="">
                      <p class="login-button-p"><%= lang_object.text.docs_button %></p>
                    </div>
                  </a>
                </button>
              </div>

            </div>

          </div><!-- Divion left content-->
          <div class="division-right-content2 video-container shadow">
            <!-- Agregar poster="poster.png" en el video-->
            <video loop autoplay playsinline muted class="intro-video" >
              <video:thumbnail_loc>https://www.sheetscentral.com/images/sheets_central_logo.png</video:thumbnail_loc>
              <video:title>Sheets Central home video title</video:title>
              <video:description>
                Sheets Central home video description
              </video:description>
              <video:content_loc>
                https://www.sheetscentral.com/images/demo_videos/home_video_2.mp4
              </video:content_loc>
              <source src="/images/demo_videos/home_video_2.mp4" type="video/mp4" />
            </video>
          </div><!-- Divion right content-->

        </div>

      </div>

    </section>

    <div >
      <img src="/images/designs/divider1.png" alt="" style="width: 100%; transform: rotate(180deg);">
    </div>

    <section class="" id="instruction1">
      <div class="full-page-item container">
        <div class="main-division">
          <div class="division-text-content">
            <div class="division-left-content-top">
              <h1 class="main-title-2"><%= lang_object.text.index_title_section1 %></h1>
            </div>
            <div class="division-left-content-bottom">
              <% for (var i = 0; i < lang_object.text.index_text_section1.length; i++) { %>
                <h3 class="explain-text"> <%= lang_object.text.index_text_section1[i] %> </h3>
              <% } %>
            </div>

          </div><!-- Divion left content-->

          <div class="division-text-content video-container">
            <video loop autoplay muted class="intro-video shadow">
              <source src="/images/demo_videos/orders-home-1.mp4" type="video/mp4" />
            </video>
          </div> <!-- Divion left content-->

        </div>

      </div>
    </section>

    <section class="">
      <div class="full-page-item container">
        <div class="main-division">
          <div class="division-text-content">
            <div class="division-left-content-top">
              <h1 class="main-title-2"><%= lang_object.text.index_title_section2 %></h1>
            </div>
            <div class="division-left-content-bottom">
              <% for (var i = 0; i < lang_object.text.index_text_section2.length; i++) { %>
                <h3 class="explain-text"> <%= lang_object.text.index_text_section2[i] %> </h3>
              <% } %>
            </div>

          </div><!-- Divion left content-->

          <div class="division-text-content video-container">
            <video loop autoplay muted class="intro-video shadow">
              <source src="/images/demo_videos/products-home-1.mp4" type="video/mp4" />
            </video>
          </div> <!-- Divion left content-->

        </div>

      </div>
    </section>
    <section class="">
      <div class="full-page-item container">
        <div class="main-division">
          <div class="division-text-content">
            <div class="division-left-content-top">
              <h1 class="main-title-2"><%= lang_object.text.index_title_section3 %></h1>
            </div>
            <div class="division-left-content-bottom">
              <% for (var i = 0; i < lang_object.text.index_text_section3.length; i++) { %>
                <h3 class="explain-text"> <%= lang_object.text.index_text_section3[i] %> </h3>
              <% } %>
            </div>

          </div><!-- Divion left content-->

          <div class="division-text-content video-container">
            
            <video loop autoplay muted class="intro-video shadow">
              <source src="/images/demo_videos/dashboards-home-1.mp4" type="video/mp4" />
            </video>
          </div> <!-- Divion left content-->


        </div>

      </div>
    </section>

    <section id="productos">
      <div class="full-page-item container">
        <h1 class="main-title"><%= lang_object.text.index_product_title %></h1>

        <div class="flex card-container">
          <% for (projecto of projectos[lang_object.lang]) { %>
            <%- include("./partials/card.ejs") %>
          <% } %>
        </div>
      </div>


    </section>






    <%- include("./partials/pricing-section2.ejs") %>
    <%- include("./partials/compare-plans2.ejs") %>
  

  <%- include("./partials/contact-form.ejs") %>

  <%- include("./partials/footer.ejs") %>

  <!--   <%- include("./partials/footer.ejs") %>   -->
</body>
<script src="./js/index.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>