<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
      <!-- Titulo del broswer-->
      <title>Sheets Central | Instrucciones</title>
      <meta property="og:title" content="Sheets Central | Instrucciones">
      <!-- Esto despues hacerlo cambiado para cada proyecto -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMHPBPS" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <div class="main-container">
    <h1 class="main-title">
      <%= title %>
    </h1>

    <div class="container border instructions-container">

      <!-- STEP 1 -->
      <div id="step1">
        <% if (mp_connection_id) { %>
          <!-- step-block si ya esta logueado-->
          <div class="step-block step-ok">
            <div class="step-title">
              <div class="step-check">
                <i class="fa-solid fa-circle-check"></i>
              </div>
              <div class="step-text">
                <p>Paso 1: Login Mercado Pago</p>
              </div>
            </div>
  
            <div class="step-user-info">
              <div class="step-user-info-image">
                <% if (user_connected.user_logo) { %>
                  <img class="step-user-info-logo" src="<%= user_connected.user_logo %>" alt="">
                <%} else { %>
                  <img class="step-user-info-logo" src="/images/logos/mercadopago_logo.png" alt="">
                <% } %> 
              
              </div>
              <div class="step-user-info-data">
                <h3><%= user_connected.user_name %></h3>
                <% if (user_connected.subscription_status == 'active') { %>
                  <h4>Plan: Premium</h4>
                <%} else if (user_connected.subscription_status == 'trialing') { %>
                  <h4>Plan: Premium - Período de prueba</h4>
                <% } else { %>
                  <h4>Plan: Free</h4>
                <% } %>
              </div>
  
  
            </div>
          </div>
          <%} else { %>
            <!-- step-block si ya esta logueado-->
            <div class="step-block step-ok">
              <div class="step-title">
                <div class="step-check">
                  <i class="fa-regular fa-circle"></i>
                </div>
                <div class="step-text">
                  <p>Paso 1: Login Mercado Pago</p>
                </div>
              </div>
              <div class="step-user-info">
                <div class="step-left-text" >
                  <h4>Inicia sesión con Mercado Pago para comenzar a usar Sheets Central </h4>
                </div>
                <div class="step-right-text">
                  <!-- Login con tienda nube button-->
                  <%- include("../partials/buttons/mp-button.ejs") %>
                </div>
  
              </div>
  
            </div>
            <% } %>

      </div>
       <!-- END STEP 1 -->

       <!-- STEP 2  -->
       <div id="step2">
        <div class="step-block step-ok">
          <div class="step-title">
            <div class="step-check">
              <% if (user_connected.spreadsheet_id) { %>
                <i class="fa-solid fa-circle-check"></i>
                <%} else { %>
                  <i class="fa-regular fa-circle"></i>
              <% } %>
            </div>
            <div class="step-text">
              <p>Google Sheet</p>
            </div>
          </div>
          <div class="step-user-info">
            <div class="step-left-text" >
              <h4>Revisa tu mail! Ahi verás un Google Sheet compartido.   </h4>
            </div>
            <div class="step-right-text">
              <% if (user_connected.spreadsheet_id) { %>
                <%- include("../partials/sheets_buttons/mp-sheet.ejs", {buttonText: lang_object.text.sheet_open_button ,
                  url: "https://docs.google.com/spreadsheets/d/" + user_connected.spreadsheet_id }) %>
                  <%} %>

              <!-- end clone sheet button -->
            </div>

          </div>

        </div>

       </div>
       <!-- END STEP 2 -->


       <!-- STEP 4 GET PREMIUM -->

       <div id="step4">
        <div class="step-block step-ok">
          <div class="step-title">
            <div class="step-check">
              <% if (user_connected.subscription_status=='active' || user_connected.subscription_status=='trialing' ) {
                %>
                <i class="fa-solid fa-circle-check"></i>
                <%} else { %>
                  <i class="fa-regular fa-circle"></i>
                  <% } %>
            </div>
            <div class="step-text">
              <p>
                <%= lang_object.text.config_premium %>
              </p>
            </div>
          </div>
          <div class="step-user-info">
            <div class="step-left-text">
              <div>
                <h4>
                  <%= lang_object.text.config_premium_subtitle %>
                </h4>
              </div>



            </div>
            <div class="step-right-text">
              <% if (user_connected.subscription_status=='active' || user_connected.subscription_status=='trialing' ) {
                %>
                <div class="login-button">
                  <button type="button" class="btn btn-outline-secondary">
                    <a class="black-button-a"
                      href="<%=user_connected.management_url %>"
                      target="_blank">
                      <div class="login-button-text">
                        <img class="login-button-logo" src="/images/icons/configuration.png" alt="">
                        <p class="login-button-p">
                          <%= lang_object.text.manage_plan %>
                        </p>
                      </div>
                    </a>
                  </button>
                </div>
                <%} else { %>
                  <div class="login-button">
                    <button type="button" class="btn btn-outline-secondary" <%=(mp_connection_id)?'':'disabled' %>>
                      <a class="black-button-a" href="/mercadopago/premium?mp_connection_id=<%=(mp_connection_id)%>" target="_blank">
                        <div class="login-button-text">
                          <img class="login-button-logo" src="/images/icons/rocket.png" alt="">
                          <p class="login-button-p">
                            <%= lang_object.text.get_premium %>
                          </p>
                        </div>
                      </a>
                    </button>
                  </div>
                  <% } %>



            </div>

          </div>

        </div>

      </div> <!-- END STEP 4 -->


           <!-- STEP 5  -->
      <div id="step5">
        <div
          class="step-block no-border">
          <div class="step-title">
            <div class="step-text">
              <p>
                <%= lang_object.text.config_additional_title %>
              </p>
            </div>
          </div>
          <div class="step-user-info">
            <div class="step-left-text">
              <h4>
                <%= lang_object.text.config_additional_subtitle %>
              </h4>
            </div>
            <div class="step-right-text">

              <div class="login-button">
                <button type="button" class="btn btn-outline-secondary">
                  <a class="black-button-a" href="/mercadopago/documentation" target="_blank">
                    <div class="login-button-text">
                      <img class="login-button-logo" src="/images/icons/document.png" alt="">
                      <p class="login-button-p">
                        <%= lang_object.text.docs_button %>
                      </p>
                    </div>
                  </a>
                </button>
              </div>

              <!-- end clone sheet button -->
            </div>

          </div>

        </div>

      </div>
      <!-- END STEP 6 -->






    </div>



  </div>
 



  <%- include("../partials/footer.ejs") %>
</body>
<script>

</script>
<!-- Google OAUTH JS code-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api.js" async defer></script>

<script src="/js/instrucciones.js"></script>
<script src="/js/index.js"></script>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>