<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
      <!-- Titulo del broswer-->
      <title>Sheets Central | Shopify</title>
      <meta property="og:title" content="Sheets Central | Instrucciones"> <!-- Esto despues hacerlo cambiado para cada proyecto -->
    
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMHPBPS" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <div class="main-container">
    <h1 class="main-title">
      <%= title %>
    </h1>

    <div class="container border instructions-container">

      <!-- STEP 1 -->
      <div id="step1">
        <% if (sh_connection_id || user_connected.id) { %>
          <!-- step-block si ya esta logueado-->
          <div class="step-block step-ok">
            <div class="step-title">
              <div class="step-check">
                <i class="fa-solid fa-circle-check"></i>
              </div>
              <div class="step-text">
                <p>Paso 1: Login Shopify</p>
              </div>
            </div>
  
            <div class="step-user-info">
              <div class="step-user-info-image">
                <% if (user_connected.user_logo) { %>
                  <img class="step-user-info-logo" src="<%= user_connected.user_logo %>" alt="">
                <%} else { %>
                  <img class="step-user-info-logo" src="/images/logos/shopify3_logo.png" alt="">
                <% } %> 
              
              </div>
              <div class="step-user-info-data">
                <h3><%= user_connected.user_name %></h3>
                <% if (user_connected.subscription_status == 'active') { %>
                  <h4>Plan: Premium</h4>
                <%} else if (user_connected.subscription_status == 'trialing') { %>
                  <h4>Plan: Premium - Período de prueba</h4>
                <% } else { %>
                  <h4>Plan: Free</h4>
                <% } %>
              </div>
  
  
            </div>
          </div>
          <%} else { %>
            <!-- step-block si ya esta logueado-->
            <div class="step-block step-ok">
              <div class="step-title">
                <div class="step-check">
                  <i class="fa-regular fa-circle"></i>
                </div>
                <div class="step-text">
                  <p>Paso 1: Login Shopify</p>
                </div>
              </div>
              <div class="step-user-info">
                <div class="step-left-text" >
                  <h4>Inicia sesión con Shopify para comenzar a usar Sheets Central </h4>
                </div>
                <div class="step-right-text">
                  <!-- Login con tienda nube button-->
                  <%- include("../partials/buttons/sh-button.ejs") %>
                </div>
  
              </div>
  
            </div>
            <% } %>

      </div>
       <!-- END STEP 1 -->

       <!-- STEP 2  -->
       <div id="step2">
        <div class="step-block step-ok">
          <div class="step-title">
            <div class="step-check">
              <% if (user_connected.spreadsheet_id) { %>
                <i class="fa-solid fa-circle-check"></i>
                <%} else { %>
                  <i class="fa-regular fa-circle"></i>
              <% } %>
            </div>
            <div class="step-text">
              <p>Paso 2: Clonar Google Sheet</p>
            </div>
          </div>
          <div class="step-user-info">
            <div class="step-left-text" >
              <h4>Clona el siguiente Google Sheet en tu propia cuenta de Google  </h4>
            </div>
            <div class="step-right-text">

              <% if (user_connected.spreadsheet_id) { %>
                <%- include("../partials/sheets_buttons/sh-sheet.ejs", {buttonText: lang_object.text.sheet_open_button ,
                  url: "https://docs.google.com/spreadsheets/d/" + user_connected.spreadsheet_id }) %>
                  <%} else { %>
                    <%- include("../partials/sheets_buttons/sh-sheet.ejs", {buttonText: false, url: false}) %>
                <% } %>

              <!-- end clone sheet button -->
            </div>

          </div>

        </div>

       </div>
       <!-- END STEP 2 -->


      <!-- STEP 3 -->

       <div id="step3">
        <div class="step-block step-ok">
          <div class="step-title">
            <div class="step-check">
              <% if (user_connected.spreadsheet_id) { %>
                <i class="fa-solid fa-circle-check"></i>
                <%} else { %>
                  <i class="fa-regular fa-circle"></i>
              <% } %>
            </div>
            <div class="step-text">
              <p>Paso 3: Configurar Sheets Central</p>
            </div>
          </div>
          <div class="step-user-info">
            <div class="step-left-text" >
              <div class="step-3">
                <h3 class="small-text">1. Abre el Google Sheet recién clonado</h3>
                <h3 class="small-text">2. Copia el siguiente ID de Conexión:</h3>
                <div class="contact-form-ins">
                  <div class="input-group width-100">
                    <div class="input-group-item1">
                      <!-- A futuro agregar validacion de cookie por si el usuario no esta logueado -->
                      <label for="id-conexion">ID de Conexión</label>
                      <input type="text" class="form-control" id="id-conexion" aria-describedby="basic-addon2"
                        value="<%= sh_connection_id ? sh_connection_id : '' %>">
                    </div>
                    <div class="input-group-item2">
                      <button class="btn btn-success shadow" onclick="return copyToClipboard(event, this);"><i
                          class="fa-regular fa-copy"></i> Copiar</button>
                    </div>
                  </div>
                </div>
                <h3 class="small-text">3. Pega el ID de Conexión en el Google Sheet, bajo el menu Sheets Central > Configuración de cuenta </h3>
              </div>


            </div>
            <div class="step-right-text">
              <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRhZguOdeL_1YdoW-cBqpu7iC32spiBvx-E8rVKfUs8UC822RsQwLpPhNd3e2ZyeIsO5ClwjPxkuTyw/embed?start=false&loop=false&delayms=5000" frameborder="0" width="90%" height="100%" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>

          </div>

        </div>

       </div>

      


           <!-- STEP 6  -->
           <div id="step6">
            <div class="step-block step-ok no-border">
              <div class="step-title">
                <div class="step-text">
                  <p>Material adicional</p>
                </div>
              </div>
              <div class="step-user-info">
                <div class="step-left-text" >
                  <h4>Revisa nuestra documentación para conocer en detalle Sheets Central  </h4>
                </div>
                <div class="step-right-text">

                      <div class="login-button">
                        <button type="button" class="btn btn-outline-secondary">
                          <a class="black-button-a" href="/shopify/documentation" target="_blank">
                            <div class="login-button-text">
                              <img class="login-button-logo" src="/images/icons/document.png" alt="">
                              <p class="login-button-p">Documentación</p>
                            </div>
                          </a>
                        </button>
                      </div>
    
                  <!-- end clone sheet button -->
                </div>
    
              </div>
    
            </div>
    
           </div>
           <!-- END STEP 6 -->

                
 

    </div>



  </div>


  <%- include("../partials/footer.ejs") %>
</body>
<script>

</script>
<!-- Google OAUTH JS code-->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/api.js" async defer></script>

<script src="/js/instrucciones.js"></script>
<script src="/js/index.js"></script>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>