<div class="card-wrapper shadow">
  <a href="<%= viaje.link %>">
    <div class="card-content">
      <div class="image-content">
        <img src="<%= viaje.image %>" alt="">
      </div>
      <div class="card-text-content">
        <div class="card-text-title">
          <h2><%= viaje.title %></h2>
        </div>
        <div class="card-info-elements">
          <% for (texts of viaje.texts) { %>
            <div>
              <h6><i class="<%= texts.icon %>"></i> <%= texts.text %></h6>
            </div>
          <% }  %>
        </div>
      </div>
    </div>
  </a>
</div> <!-- End card-wrapper -->