<div class="card-wrapper shadow">
  <a href="<%= projecto.link %>">
    <div class="card-content">
      <div class="image-content">
        <img src="<%= projecto.image %>" alt="">
      </div>
      <div class="card-text-content">
          <div class="card-text-title">
            <div class="small-logo">
              <img src="<%= projecto.image %>" alt="" class="small-logo-image">
            </div>
            <h2><%= projecto.title %></h2>
          </div> <!-- END card-text-title -->
          <div class="card-info-elements">
            <% for (texts of projecto.texts) { %>
              <div>
                <h6><i class="<%= texts.icon %>"></i> <%= texts.text %></h6>
              </div>
            <% }  %>
          </div> <!-- END card-info-elements -->
          <div class="card-bottom-container">
            <div>
              <h6><%= projecto.version %></h6>
            </div>
            <div>
              <h6><%= projecto.cta_text %></h6>
            </div>
          </div> <!-- END card-bottom-container -->

      </div> <!-- END card-text-content -->

    </div><!-- END card-content -->
  </a>
</div> <!-- End card-wrapper -->