<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-utensils"></i>Para Comer
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
        <div class="accordion-body">
            
            <% for (const [index,equipo] of equipamiento.comida.entries()) { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="comida-<%= index %>">
                    <label class="form-check-label" for="comida-<%= index %>">
                          <%= equipo %> 
                    </label>
                </div>
            <% }  %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-hands-wash"></i>Higiene
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
        <div class="accordion-body">
            <% for (const [index,equipo] of equipamiento.higiene.entries()) { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="higiene-<%= index %>">
                    <label class="form-check-label" for="higiene-<%= index %>">
                          <%= equipo %> 
                    </label>
                </div>
            <% }  %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-bed"></i>Para Dormir
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" >
        <div class="accordion-body">
            <% for (const [index,equipo] of equipamiento.dormir.entries()) { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dormir-<%= index %>">
                    <label class="form-check-label" for="dormir-<%= index %>">
                          <%= equipo %> 
                    </label>
                </div>
            <% }  %>
        </div>
      </div>
    </div>
  </div>