<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
  </head>

  <body>
    <div class="main-container">
      <h1 class="main-title"><%= title %></h1>
      <h6 class="main-text">Podrás encontrar debajo un resumen de todo el viaje, junto con el detalle de cada uno de los días.</h6>
      <div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item nav-pills-resumen" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Resumen</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-home" aria-selected="true">1</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">2</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-4" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">3</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-5" type="button" role="tab" aria-controls="pills-home" aria-selected="false">4</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-6" type="button" role="tab" aria-controls="pills-home" aria-selected="false">5</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-7" type="button" role="tab" aria-controls="pills-home" aria-selected="false">6</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-8" type="button" role="tab" aria-controls="pills-home" aria-selected="false">7</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-9" type="button" role="tab" aria-controls="pills-home" aria-selected="false">8</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-10" type="button" role="tab" aria-controls="pills-home" aria-selected="false">9</button>
            </li>
  

        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="blog-content main-container">
              <div class="flex-md">
                <div class="width-50-md">
                  <iframe src="https://www.google.com/maps/d/embed?mid=1gBAszXtFuQarLzahwTBCNe1aKwOABdsJ&ehbc=2E312F" width="100%" height="480"></iframe>
                </div>
                <div class="width-50-md">
                  <h2 class="blog-subtitle">Distancias de todo el viaje</h2>
                  <p class="blog-main-text">
                    <ul >
                      <li class="blog-main-list"><span>Colonia Suiza a Laguna Negra (Refugio Manfredo Segre):</span> 6.9km</li>
                    </ul>
                    <ul >
                      <li class="blog-main-list"><span>Laguna Negra a Laguna Cab: </span> 4.8km</li>
                    </ul>
                    <ul >
                      <li class="blog-main-list"><span>Laguna Cab a Laguna Cretón:</span> 5.8km</li>
                    </ul>
                    <ul >
                      <li class="blog-main-list"><span>Laguna Cretón a Laguna Jujuy:</span> 2.3km</li>
                    </ul>
                    <ul >
                      <li class="blog-main-list"><span>Laguna Jujuy a Laguna Ilón: </span> 2.7km</li>
                    </ul>
                    <ul >
                      <li class="blog-main-list"><span>Laguna Ilón a Refugio Agostino Rocca: </span> 7.6km</li>
                    </ul>
                    <ul >
                      <li class="blog-main-list"><span>Refugio Agostino Rocca a Pampa Linda:</span> 8.9km</li>
                    </ul>
                    <br>
                    <ul >
                      <li class="blog-main-list"><span>Distancia total aproximada:</span> 39km</li>
                    </ul>
                  </p>
                </div>

              </div>
              <div class="flex-md">
                <div class="width-50-md">
                  <h2 class="blog-subtitle">Comida</h2>
                  <p class="blog-main-text">
                    Organizar bien las comidas. Esto es MUY importante, ojalá alguien nos hubiese advertido esto con furor, porque pasamos hambre :(. Mucho snack liviano y comidas calóricas: fideos, lentejas, arroz, soja texturizada (muy recomendable por su alto contenido proteico que ayuda en la recuperación muscular). 
                  </p>
                </div>
                <div class="width-50-md">
                  <h2 class="blog-subtitle">Abrigo</h2>
                  <p class="blog-main-text">
                    Las temperaturas por la tarde/noche pueden bajar drásticamente. Tengan en cuenta que al estar en la altura el frío se siente un poco más. Dejamos alguna prendas básicas para el frío:      
                  </p>
                  <ul>
                    <li class="blog-main-list">Calza térmica</li>
                    <li class="blog-main-list">Remera térmica</li>
                    <li class="blog-main-list">Micropolar</li>
                    <li class="blog-main-list">Campera de abrigo</li>
                    <li class="blog-main-list">Campera rompevientos e impermeable</li>
                    <li class="blog-main-list">Medias de abrigo</li>
                    <li class="blog-main-list">Guantes</li>
                    <li class="blog-main-list">Gorro</li>
                    <li class="blog-main-list">Bolsa de dormir de por lo menos -5°C</li>
                  </ul>
                </div>
              </div>

        


            </div>  <!-- End blog content-->
          </div> <!-- End pills 1-->
          <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
            <%- include("../viajes/brc/1-lagunanegra.ejs") %>
          </div> <!-- End pills2-->
          <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-contact-tab">
            <%- include("../viajes/brc/2-lagunacab.ejs") %>
          </div> <!-- End pill 3-->
          <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-contact-tab">
            <%- include("../viajes/brc/3-mallin.ejs") %>
          </div> <!-- End pill 4-->
          <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-contact-tab">
            <%- include("../viajes/brc/4-creton.ejs") %>
          </div> <!-- End pill 5-->
          <div class="tab-pane fade" id="pills-6" role="tabpanel" aria-labelledby="pills-contact-tab">
            <%- include("../viajes/brc/5-ilon.ejs") %>
          </div> <!-- End pill 6-->
          <div class="tab-pane fade" id="pills-7" role="tabpanel" aria-labelledby="pills-contact-tab">
            <%- include("../viajes/brc/6-docsview.ejs") %>
          </div> <!-- End pill 7-->
          <div class="tab-pane fade" id="pills-8" role="tabpanel" aria-labelledby="pills-contact-tab">
            <%- include("../viajes/brc/7-ilonroca.ejs") %>
          </div> <!-- End pill 8-->
          <div class="tab-pane fade" id="pills-9" role="tabpanel" aria-labelledby="pills-contact-tab">
 

          </div> <!-- End pill 9-->
          <div class="tab-pane fade" id="pills-10" role="tabpanel" aria-labelledby="pills-contact-tab">


          </div> <!-- End pill 10-->

        </div>
      </div>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>
