<!DOCTYPE html>
<html>

<head>

  <%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
    <!-- Titulo del broswer-->
    <title>Sheets Central | Drive to Tiendanube</title> 
    <meta property="og:title" content="Sheets Central | Drive to Tiendanube"> <!-- Esto despues hacerlo cambiado para cada proyecto -->
</head>

<body class=" gradient-background">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMHPBPS" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->



  <div class=" container">
    <h1 class="main-title">Drive to Tiendanube</h1>

    <section class="" id="">
      <div class="full-page-item">
        <div class="main-division2">
          <div class="division-text-content2">
            <div class="division-left-content-top">
              <h1 class="main-title-2">Carga masivamente tus imágenes de Google Drive en Tiendanube
              </h1>
            </div>
            <div class="division-left-content-bottom">
              <h3 class="explain-text"> Automatiza la gestión de imágenes de tu tienda con Drive to Tiendanube </h3>

              <% if (connection_id && user_connected.connection == 'drive-to-tiendanube' ) { %>
                <div class="login-button">
                  <button type="button" class="btn btn-outline-secondary">
                    <a class="black-button-a" href="/drive-to-tiendanube/config" >
                      <div class="login-button-text">
                        <img class="login-button-logo" src="../images/configuration.png" alt="">
                        <p class="login-button-p">Ir a configuración</p>
                      </div>
                    </a>
                  </button>
                </div> 
              <%} else { %>
                <%- include("../partials/buttons/dt-button.ejs") %>
                <%} %>

              <div class="login-button">
                <button type="button" class="btn btn-outline-secondary">
                  <a class="black-button-a"
                    href="/drive-to-tiendanube/documentation"
                    target="_blank">
                    <div class="login-button-text">
                      <img class="login-button-logo" src="../images/document.png" alt="">
                      <p class="login-button-p">Ver documentación</p>
                    </div>
                  </a>
                </button>
              </div>

            </div>

          </div><!-- Divion left content-->
          <div class="division-right-content2 video-container">
            <video loop autoplay playsinline muted class="intro-video">
              <source src="../images/inicio-dt1.mp4" type="video/mp4" />
            </video>
          </div><!-- Divion right content-->

        </div>

      </div>

    </section>

    <section class="" data-color="green">
      <h1 class="main-title">Ver demo</h1>
      <div class="video-container-height">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/lz_Pm_7qolE?si=aFDcNgQuWJf1k01U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>

    </section>


  </div>
  <%- include("../partials/contact-form.ejs") %>

    <%- include("../partials/footer.ejs") %>

</body>
<script src="/js/contact.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script> <!-- Esto es el servicio para enviar mails -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>