<!DOCTYPE html>
<html>

<head>

  <%- include("../partials/head.ejs") %>
  <%- include("../partials/header.ejs") %>
  <!-- Titulo del broswer-->
  <title>Sheets Central | Pluggy</title>
  <meta property="og:title" content="Sheets Central | Mercado Pago">
  <!-- Esto despues hacerlo cambiado para cada proyecto -->

</head>

<body class=" gradient-background">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMHPBPS" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->






  <div class="container">
    <h1 class="main-title">Pluggy</h1>

    <section class="" id="mercadopago">
      <div class="full-page-item">
        <div class="main-division2">
          <div class="division-text-content2">
            <div class="division-left-content-top">
              <h1 class="main-title-2">Tu gesti贸n bancaria, ahora en Google Sheets
              </h1>
            </div>
            <div class="division-left-content-bottom">
              <h3 class="explain-text"> Todos los negocios, desde las multinacionales hasta los micro emprendimientos,
                usan hojas de c谩lculo para su gesti贸n. Usa lo mejor de los dos mundos. </h3>

              <% if (mp_connection_id && user_connected.connection == 'mercadopago' && user_connected.active == 'true' ) { %>
              <div class="login-button">
                <button type="button" class="btn btn-outline-secondary">
                  <a class="black-button-a" href="/mercadopago/config">
                    <div class="login-button-text">
                      <img class="login-button-logo" src="/images/icons/configuration.png" alt="">
                      <p class="login-button-p">Ir a configuraci贸n</p>
                    </div>
                  </a>
                </button>
              </div>
              <%} else { %>
              <%- include("../partials/buttons/pl-button.ejs") %>
              <%} %>

              <div class="login-button">
                <button type="button" class="btn btn-outline-secondary">
                  <a class="black-button-a" href="/mercadopago/documentation" target="_blank">
                    <div class="login-button-text">
                      <img class="login-button-logo" src="/images/icons/document.png" alt="">
                      <p class="login-button-p">Ver documentaci贸n</p>
                    </div>
                  </a>
                </button>
              </div>

            </div>

          </div><!-- Divion left content-->
          <div class="division-right-content2 video-container shadow">
            <video loop autoplay playsinline muted class="intro-video">
              <source src="/images/demo_videos/home_video_2.mp4" type="video/mp4" />
            </video>
          </div><!-- Divion right content-->

        </div>

      </div>

    </section>


  </div>

  <script src="https://cdn.pluggy.ai/pluggy-connect/v2.8.2/pluggy-connect.js"></script>

  <script>
    const pluggyButton = document.querySelector("#pluggy-button")
    pluggyButton.addEventListener("click", function (e) {
      e.preventDefault()


      // Use your own connect token API endpoint, this one only list sandbox connectors
      // Example Reference: https://github.com/pluggyai/quickstart/tree/master/examples/vercel-node-connect-token
      fetch('https://api.pluggy.ai/connect_token', {
          method: 'POST',
          headers: {
            'X-API-KEY': '<%= apiKey %>',
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            options: {
              clientUserId: 'user@example.com',
              oauthRedirectUri: "https://www.sheetscentral.com/pluggy/config",
            },
          }),
        })
        .then((response) => response.json())
        .then(({
          accessToken
        }) => {
          const pluggyConnect = new PluggyConnect({
            connectToken: accessToken,
            includeSandbox: true,
            onSuccess: (itemData) => {

              // TODO: Implement logic for succesful connection
              // The following line is an example, it should be removed when implemented.
              console.log('Yay! Pluggy connect success!', itemData)

              // Send data to the backend
              fetch('/pluggy/success', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(itemData), // Send the itemData to the backend
                })
                .then(response => {
                  if (response.status = 'success') {
                    console.log('Data successfully sent to backend');
                    // Save information in cookies
                    document.cookie =
                      `pluggy_connection_id=${response.id}`;

                    // Redirect user to /pluggy/config
                    window.location.href = '/pluggy/config';
                  } else {
                    console.error('Failed to send data to backend');
                  }
                })

                .catch(error => {
                  console.error('Error sending data to backend:', error);
                });

            },
            onError: (error) => {
              // TODO: Implement logic for error on connection
              // The following line is an example, it should be removed when implemented.
              console.error('Whoops! Pluggy Connect error... ', error)
            },
          })
          pluggyConnect.init()
        })

    })
  </script>



  <%- include("../partials/contact-form.ejs") %>

  <%- include("../partials/footer.ejs") %>

</body>
<script src="https://smtpjs.com/v3/smtp.js"></script> <!-- Esto es el servicio para enviar mails -->
<script src="./js/index.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>