<header style="height: 12vh;background-color: #f5fbf7">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light top-navbar shadow navbar2">
    <div class="container">
      <div class="navbar-brand-container">
        <a class="navbar-brand-image" href="/">
          <img src="/images/designs/logo_primario.png" alt="" class="logo-image">
        </a>

        <a class="navbar-brand" href="/"></a>
      </div>

      <div class="container-menu">
        <button class="btn btn-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight" id="offcanvas-menu">
          <i class="fas fa-bars"></i>
        </button>

        <div class="offcanvas offcanvas-end" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="menu-item hover-element">
              <a href="/#productos"><%= lang_object.text.header_products%></a>
            </div>
            <div class="menu-item hover-element">
              <% if (typeof firstPath !=='undefined' ) { %>
                <a href="/<%= firstPath %>/documentation" target="_blank"><%= lang_object.text.header_docs %></a>
                <% } else { %>
                  <a href="/documentation" target="_blank"><%= lang_object.text.header_docs %></a>
                  <% } %>
            </div>
            <div class="menu-item hover-element">
              <a href="/#contacto"><%= lang_object.text.header_contact %></a>
            </div>
            <div class="menu-lang">
              <div class="dropdown">
                <% if (typeof lang_object !== 'undefined' ) { %>
                  <button id="mainButton" class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= lang_object.lang.toUpperCase(); %> <span class="fi fi-<%= lang_object.icon%>"></span>
                  </button>
                <% } else { %>
                  <button id="mainButton" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ES
                  </button>
                <% } %>
                <ul class="dropdown-menu">
                  <% if (typeof firstPath !=='undefined' ) { %>
                    <li><a class="dropdown-item es" lang="es" onclick="switchLanguage('es')">ES <span class="fi fi-es"></span></a></li>
                    <li><a class="dropdown-item en" lang="en" onclick="switchLanguage('en')">EN <span class="fi fi-gb"></span></a></li>
                    <li><a class="dropdown-item pt" lang="pt" onclick="switchLanguage('pt')" >PT <span class="fi fi-br"></span></a></li>
                  <% } else { %>
                    <li><a class="dropdown-item es" lang="es" onclick="switchLanguage('es')">ES <span class="fi fi-es"></span></a></li>
                    <li><a class="dropdown-item en" lang="en" onclick="switchLanguage('en')">EN <span class="fi fi-gb"></span></a></li>
                    <li><a class="dropdown-item pt" lang="pt" onclick="switchLanguage('pt')">PT <span class="fi fi-br"></span></a></li>
                  <% } %>
                </ul>
              </div>
              
            </div>

            <div class="menu-item login-button-navbar">
              <% if (typeof google_user.google_user_id !=='undefined' ) { %>
                <% if (google_user.google_user_id ) { %>
                  <a href="/account">
                    <div class="image-navbar-container hover-element">
                      <div class="user-arrow">
                        <i class="fa-solid fa-user"></i>
                      </div>
                      <div class="user-image-container">
                        <% if (google_user.user_picture_url ) { %>
                          <img src="<%= google_user.user_picture_url %>" alt="" class="user-image-navbar">
                          <%} else { %>
                            <img src="/images/icons/support.png" alt="" class="user-image-navbar">
                          <%} %>
                      </div>
                    </div>
                  </a>
                  <%} else { %>
                    <!-- 
                  <a href="/google-login">
                    <button type="button" class="btn btn-login" id="login-button">Iniciar sesión</button> 
                  </a>-->
                  <button type="button" class="btn btn-login" data-bs-toggle="modal" data-bs-target="#loginModal" id="login-button"><%= lang_object.text.header_login %></button>

                    <%} %>
               <% } else { %>
                  <button type="button" class="btn btn-login" data-bs-toggle="modal" data-bs-target="#loginModal" id="login-button"><%= lang_object.text.header_login %></button>
              <% } %>


            </div>

          </div>
        </div>

      </div>

    </div>

    <!-- <div class="subnavbar shadow"></div> -->

  </nav>
</header>



<!-- LOGIN Modal SI NO VAMOS A USAR EL MODAL, SACARLO. -->
<div class="modal fade" id="loginModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= lang_object.text.header_login %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%- include("../partials/buttons/google-login.ejs") %>
      </div>
    </div>
  </div>
</div>